<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
      <meta name="viewport" content="width=device-width">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>

  
    <body>

      <nav id=navBar class="navbar navbar-expand-lg navbar-dark bg-black mx-auto">
  <a class="navbar-brand" href="/">Spotify Similar Artists</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about_us">About Us</a>
      </li>
    </ul>
  </div>
</nav>

      
        <h1 align=center id="title"> Artist Recommender</h1>
        <p align=center id="description">🎵Get Similar Artists🎵</p>
        <form method='post' action='/results' align=center>
          <!-- When we hit submit, we are posting the info and then going to welcome -->
            <input id="nameInput" type="text" name="artist" placeholder="Input artist name"/>
          <p></p>
          <input id="numInput" type="number" style = font-size: 50pt; name="number" placeholder="# of Recommendations (less than 10)"/>
             <p></p>
            <input id="goButton" type="submit" value="Go"/>
        </form>

        <!-- <form method = 'post' action ='/error' align = center>
          <input type="number" style = font-size: 50pt; name="number" placeholder="How many recommendations?"/>
        </form> -->

        <!-- <div class="travel">
          <p>Would you like to go to the travel page?</p>
          <menu>
          <ul><button id="yes">Yes, take me there</button></ul>
          <ul><button id="no">No, stay here</button></ul>
    </menu>
</div> -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>


      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>